stages:
  - build
  - deploy

variables:
  # Define environment variables if needed
  DOCKER_COMPOSE_FILE: "docker-compose.yml"
  SERVICE_URL: "http://localhost:5000/nnwdaf-eventssubscription/v1/subscriptions"
  POST_DATA: '{"key": "value"}'
  EXPECTED_RESPONSE: "expected_response_value"

build:
  stage: build
  script:
    - echo "Building Docker images with Docker Compose..."
    - export GITLAB_TOKEN_NAME=ci
    - export GITLAB_TOKEN_VALUE=$CI_ACCESS_TOKEN
    - docker compose -f $DOCKER_COMPOSE_FILE build
  artifacts:
    paths:
      - $DOCKER_COMPOSE_FILE
    expire_in: 1 hour

deploy:
  stage: deploy
  script:
    - echo "Deploying Docker Compose services..."
    - docker compose -f $DOCKER_COMPOSE_FILE up -d
  dependencies:
    - build