[submodule "api-gateway"]
	path = api-gateway
	url = git@merce-gitlab.fr-merce.mee.com:artur/nwdaf-api-gateway.git
[submodule "anlf"]
	path = anlf
	url = git@merce-gitlab.fr-merce.mee.com:artur/nwdaf-anlf.git
