# Copyright 2025 Mitsubishi Electric R&D Centre Europe
# Author: Vincent Artur

# This program is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General
# Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option)  any later version.

# This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
# warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along with this program. If not, see https://www.gnu.org/licenses/lgpl-3.0.html

services:
  zookeeper:
    container_name: ${ZOOKEEPER_SERVICE_NAME}
    image: confluentinc/cp-zookeeper:7.7.1
    ports:
      - ${ZOOKEEPER_SERVICE_PORT}:${ZOOKEEPER_SERVICE_PORT}
    environment:
      ZOOKEEPER_CLIENT_PORT: ${ZOOKEEPER_SERVICE_PORT}
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_LOG4J_ROOT_LOGLEVEL: ${ZOOKEEPER_LOG_LEVEL}
    networks:
      - nwdaf-network

  kafka:
    container_name: ${KAFKA_SERVICE_NAME}
    image: confluentinc/cp-kafka:7.7.1
    ports:
      - ${KAFKA_SERVICE_PORT}:${KAFKA_SERVICE_PORT}
    depends_on:
      - ${ZOOKEEPER_SERVICE_NAME}
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${KAFKA_SERVICE_NAME}:${KAFKA_SERVICE_PORT}
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ZOOKEEPER_CONNECT: ${ZOOKEEPER_SERVICE_NAME}:${ZOOKEEPER_SERVICE_PORT}
      KAFKA_BROKER_ID: 1
      KAFKA_LOG4J_ROOT_LOGLEVEL: ${KAFKA_LOG_LEVEL}
      KAFKA_LOG4J_LOGGERS: kafka=${KAFKA_LOG_LEVEL},kafka.controller=${KAFKA_LOG_LEVEL},kafka.log.LogCleaner=${KAFKA_LOG_LEVEL},state.change.logger=${KAFKA_LOG_LEVEL},kafka.producer.async.DefaultEventHandler=${KAFKA_LOG_LEVEL}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
    networks:
      - nwdaf-network

  kafka-topics-init:
    container_name: ${TOPICS_INIT_SERVICE_NAME}
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=${DOCKER_BASE_IMAGE}
        - SERVICE_DIR=services/kafka-topics-init
        - SCRIPT_NAME=kafka-topics-init.py
        - USE_LOCAL_PACKAGES=${USE_LOCAL_PACKAGES}
    environment:
      - TOPICS_INIT_SERVICE_NAME=${TOPICS_INIT_SERVICE_NAME}
      - TOPICS_INIT_LOG_LEVEL=${TOPICS_INIT_LOG_LEVEL}
      - KAFKA_BOOTSTRAP_SERVER=${KAFKA_SERVICE_NAME}:${KAFKA_SERVICE_PORT}
    volumes:
      - ./local_packages:/mnt/local_packages
    depends_on:
      - ${KAFKA_SERVICE_NAME}
    networks:
      - nwdaf-network

  notification-client:
    container_name: ${NOTIF_CLIENT_SERVICE_NAME}
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=${DOCKER_BASE_IMAGE}
        - SERVICE_DIR=nf-stubs/notification-client
        - SCRIPT_NAME=notification-client.py
        - USE_LOCAL_PACKAGES=${USE_LOCAL_PACKAGES}
    environment:
      - NOTIF_CLIENT_SERVICE_NAME=${NOTIF_CLIENT_SERVICE_NAME}
      - NOTIF_CLIENT_SERVICE_PORT=${NOTIF_CLIENT_SERVICE_PORT}
      - NOTIF_CLIENT_LOG_LEVEL=${NOTIF_CLIENT_LOG_LEVEL}
    volumes:
      - ./local_packages:/mnt/local_packages
    ports:
      - ${NOTIF_CLIENT_SERVICE_PORT}:${NOTIF_CLIENT_SERVICE_PORT}
    restart: on-failure
    networks:
      - nwdaf-network

  api-gateway:
    container_name: ${API_GW_SERVICE_NAME}
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=${DOCKER_BASE_IMAGE}
        - SERVICE_DIR=services/api-gateway
        - SCRIPT_NAME=main.py
        - USE_LOCAL_PACKAGES=${USE_LOCAL_PACKAGES}
    environment:
      - API_GW_SERVICE_NAME=${API_GW_SERVICE_NAME}
      - API_GW_SERVICE_PORT=${API_GW_SERVICE_PORT}
      - API_GW_LOG_LEVEL=${API_GW_LOG_LEVEL}
      - KAFKA_BOOTSTRAP_SERVER=${KAFKA_SERVICE_NAME}:${KAFKA_SERVICE_PORT}
      - GMLC_SERVICE_NAME=${GMLC_SERVICE_NAME}
      - GMLC_SERVICE_PORT=${GMLC_SERVICE_PORT}
      - RAN_SERVICE_NAME=${RAN_SERVICE_NAME}
      - RAN_SERVICE_PORT=${RAN_SERVICE_PORT}
    depends_on:
      kafka-topics-init:
        condition: service_completed_successfully
    ports:
      - ${API_GW_SERVICE_PORT}:${API_GW_SERVICE_PORT}
    restart: on-failure
    networks:
      - nwdaf-network

  thr-anlf:
    container_name: ${THR_ANLF_SERVICE_NAME}
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=${DOCKER_BASE_IMAGE}
        - SERVICE_DIR=services/thr-anlf
        - SCRIPT_NAME=main.py
        - USE_LOCAL_PACKAGES=${USE_LOCAL_PACKAGES}
    environment:
      - THR_ANLF_SERVICE_NAME=${THR_ANLF_SERVICE_NAME}
      - THR_ANLF_LOG_LEVEL=${THR_ANLF_LOG_LEVEL}
      - KAFKA_BOOTSTRAP_SERVER=${KAFKA_SERVICE_NAME}:${KAFKA_SERVICE_PORT}
    depends_on:
      kafka-topics-init:
        condition: service_completed_successfully
    restart: on-failure
    networks:
      - nwdaf-network

  thr-mtlf:
    container_name: ${THR_MTLF_SERVICE_NAME}
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=${DOCKER_BASE_IMAGE}
        - SERVICE_DIR=services/thr-mtlf
        - SCRIPT_NAME=main.py
        - USE_LOCAL_PACKAGES=${USE_LOCAL_PACKAGES}
    environment:
      - THR_MTLF_SERVICE_NAME=${THR_MTLF_SERVICE_NAME}
      - THR_MTLF_LOG_LEVEL=${THR_MTLF_LOG_LEVEL}
      - KAFKA_BOOTSTRAP_SERVER=${KAFKA_SERVICE_NAME}:${KAFKA_SERVICE_PORT}
    depends_on:
      kafka-topics-init:
        condition: service_completed_successfully
    restart: on-failure
    networks:
      - nwdaf-network

  adrf:
    container_name: ${ADRF_SERVICE_NAME}
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=${DOCKER_BASE_IMAGE}
        - SERVICE_DIR=services/adrf
        - SCRIPT_NAME=main.py
        - USE_LOCAL_PACKAGES=${USE_LOCAL_PACKAGES}
    environment:
      - ADRF_SERVICE_NAME=${ADRF_SERVICE_NAME}
      - ADRF_LOG_LEVEL=${ADRF_LOG_LEVEL}
      - KAFKA_BOOTSTRAP_SERVER=${KAFKA_SERVICE_NAME}:${KAFKA_SERVICE_PORT}
      - MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@${MONGO_SERVICE_NAME}:${MONGO_SERVICE_PORT}
    depends_on:
      kafka-topics-init:
        condition: service_completed_successfully
      mongo:
        condition: service_started
    restart: on-failure
    networks:
      - nwdaf-network

  gmlc:
    container_name: ${GMLC_SERVICE_NAME}
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=${DOCKER_BASE_IMAGE}
        - SERVICE_DIR=nf-stubs/gmlc
        - SCRIPT_NAME=gmlc.py
        - USE_LOCAL_PACKAGES=${USE_LOCAL_PACKAGES}
    environment:
      - GMLC_SERVICE_NAME=${GMLC_SERVICE_NAME}
      - GMLC_SERVICE_PORT=${GMLC_SERVICE_PORT}
      - GMLC_LOG_LEVEL=${GMLC_LOG_LEVEL}
    ports:
      - ${GMLC_SERVICE_PORT}:${GMLC_SERVICE_PORT}
    restart: on-failure
    networks:
      - nwdaf-network

  ran:
    container_name: ${RAN_SERVICE_NAME}
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=${DOCKER_BASE_IMAGE}
        - SERVICE_DIR=nf-stubs/ran
        - SCRIPT_NAME=ran.py
        - USE_LOCAL_PACKAGES=${USE_LOCAL_PACKAGES}
    environment:
      - RAN_SERVICE_NAME=${RAN_SERVICE_NAME}
      - RAN_SERVICE_PORT=${RAN_SERVICE_PORT}
      - RAN_LOG_LEVEL=${RAN_LOG_LEVEL}
    ports:
      - ${RAN_SERVICE_PORT}:${RAN_SERVICE_PORT}
    restart: on-failure
    networks:
      - nwdaf-network

  csv-file-player:
    container_name: ${CSV_FP_SERVICE_NAME}
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=${DOCKER_BASE_IMAGE}
        - SERVICE_DIR=nf-stubs/csv_file_player
        - SCRIPT_NAME=main.py
        - USE_LOCAL_PACKAGES=${USE_LOCAL_PACKAGES}
    environment:
      - CSV_FP_SERVICE_NAME=${CSV_FP_SERVICE_NAME}
      - CSV_FP_SERVICE_PORT=${CSV_FP_SERVICE_PORT}
      - CSV_FP_LOG_LEVEL=${CSV_FP_LOG_LEVEL}
      - GMLC_SERVICE_NAME=${GMLC_SERVICE_NAME}
      - GMLC_SERVICE_PORT=${GMLC_SERVICE_PORT}
      - RAN_SERVICE_NAME=${RAN_SERVICE_NAME}
      - RAN_SERVICE_PORT=${RAN_SERVICE_PORT}
    ports:
      - ${CSV_FP_SERVICE_PORT}:${CSV_FP_SERVICE_PORT}
    restart: on-failure
    networks:
      - nwdaf-network


  prometheus:
    image: bitnami/prometheus:2.55.1
    container_name: ${PROMETHEUS_SERVICE_NAME}
    ports:
      - ${PROMETHEUS_SERVICE_PORT}:${PROMETHEUS_SERVICE_PORT}
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --log.level=${PROMETHEUS_LOG_LEVEL}
    networks:
      - nwdaf-network

  grafana:
    image: grafana/grafana:10.4.12
    container_name: ${GRAFANA_SERVICE_NAME}
    ports:
      - ${GRAFANA_SERVICE_PORT}:${GRAFANA_SERVICE_PORT}
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - GF_LOG_LEVEL=${GRAFANA_LOG_LEVEL}
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - nwdaf-network

  mongo:
    image: mongo:8.0.4
    container_name: ${MONGO_SERVICE_NAME}
    ports:
      - ${MONGO_SERVICE_PORT}:${MONGO_SERVICE_PORT}
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    networks:
      - nwdaf-network

networks:
  nwdaf-network:
    driver: bridge

volumes:
  grafana-storage:
  mongo_data: