services:
  zookeeper:
    container_name: zookeeper
    image: confluentinc/cp-zookeeper:latest
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_LOG4J_ROOT_LOGLEVEL: 'WARN'
    networks:
      - kafka-network

  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:latest
    ports:
      - "9092:9092"  # External access
      - "19092:19092"  # Internal access within the Docker network
    depends_on:
      - zookeeper
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:19092,EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_BROKER_ID: 1
      KAFKA_LOG4J_ROOT_LOGLEVEL: 'WARN'
      KAFKA_LOG4J_LOGGERS: 'kafka=WARN,kafka.controller=WARN,kafka.log.LogCleaner=WARN,state.change.logger=WARN,kafka.producer.async.DefaultEventHandler=WARN'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - kafka-network

  kafka-init:
    build:
      context: kafka-init
      network: host
      args:
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
    depends_on:
      - kafka
    networks:
      - kafka-network

  dummy-client:
    container_name: dummy-client
    build:
      context: dummy-client
      network: host
      args:
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    ports:
      - "8181:8181"
    restart: on-failure
    networks:
      - kafka-network

  api-gateway:
    container_name: api-gateway
    build:
      context: api-gateway
      network: host
      args:
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    ports:
      - "5000:5000"
    restart: on-failure
    networks:
      - kafka-network

  basic-anlf:
    container_name: basic-anlf
    build:
      context: anlf
      network: host
      args:
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    restart: on-failure
    networks:
      - kafka-network

networks:
  kafka-network:
    driver: bridge