services:
  zookeeper:
    container_name: zookeeper
    image: confluentinc/cp-zookeeper:7.7.1
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_LOG4J_ROOT_LOGLEVEL: 'ERROR'
    networks:
      - nwdaf-network

  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:7.7.1
    ports:
      - "9092:9092"  # External access
      - "19092:19092"  # Internal access within the Docker network
    depends_on:
      - zookeeper
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:19092,EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_BROKER_ID: 1
      KAFKA_LOG4J_ROOT_LOGLEVEL: 'ERROR'
      KAFKA_LOG4J_LOGGERS: 'kafka=ERROR,kafka.controller=ERROR,kafka.log.LogCleaner=ERROR,state.change.logger=ERROR,kafka.producer.async.DefaultEventHandler=ERROR'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - nwdaf-network

  kafka-topics-init:
    container_name: kafka-topics-init
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=python:3.11-slim-bullseye
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
        - SERVICE_DIR=services/kafka-topics-init
        - SCRIPT_NAME=kafka-topics-init.py
    environment:
      LOG_LEVEL: 'INFO'
    depends_on:
      - kafka
    networks:
      - nwdaf-network

  notification-client:
    container_name: notification-client
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=python:3.11-slim-bullseye
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
        - SERVICE_DIR=services/notification-client
        - SCRIPT_NAME=notification-client.py
    environment:
      LOG_LEVEL: 'INFO'
    depends_on:
      kafka-topics-init:
        condition: service_completed_successfully
    ports:
      - "8181:8181"
    restart: on-failure
    networks:
      - nwdaf-network

  #  smf:
  #    container_name: smf
  #    build:
  #      context: .
  #      network: host
  #      args:
  #        - BASE_IMAGE=python:3.11-slim-bullseye
  #        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
  #        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
  #        - SERVICE_DIR=services/nf-stubs/smf
  #        - SCRIPT_NAME=smf.py
  #    environment:
  #      LOG_LEVEL: 'INFO'
  #    depends_on:
  #      kafka-topics-init:
  #        condition: service_completed_successfully
  #    ports:
  #      - "10001:10001"
  #    restart: on-failure
  #    networks:
  #      - nwdaf-network

  api-gateway:
    container_name: api-gateway
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=tensorflow/tensorflow:2.17.0
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
        - SERVICE_DIR=services/api-gateway
        - SCRIPT_NAME=main.py
    environment:
      LOG_LEVEL: 'INFO'
    depends_on:
      kafka-topics-init:
        condition: service_completed_successfully
    ports:
      - "5000:5000"
    restart: on-failure
    networks:
      - nwdaf-network

  throughput-anlf:
    container_name: throughput-anlf
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=tensorflow/tensorflow:2.17.0
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
        - SERVICE_DIR=services/throughput-anlf
        - SCRIPT_NAME=main.py
    environment:
      LOG_LEVEL: 'INFO'
    depends_on:
      kafka-topics-init:
        condition: service_completed_successfully
    restart: on-failure
    networks:
      - nwdaf-network

  gmlc:
    container_name: gmlc
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=python:3.11-slim-bullseye
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
        - SERVICE_DIR=services/nf-stubs/gmlc
        - SCRIPT_NAME=gmlc.py
    environment:
      LOG_LEVEL: 'INFO'
    depends_on:
      kafka-topics-init:
        condition: service_completed_successfully
    ports:
      - "10006:10006"
    restart: on-failure
    networks:
      - nwdaf-network

  ran:
    container_name: ran
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=python:3.11-slim-bullseye
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
        - SERVICE_DIR=services/nf-stubs/ran
        - SCRIPT_NAME=ran.py
    environment:
      LOG_LEVEL: 'INFO'
    depends_on:
      kafka-topics-init:
        condition: service_completed_successfully
    ports:
      - "10007:10007"
    restart: on-failure
    networks:
      - nwdaf-network

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --log.level=warn
    networks:
      - nwdaf-network

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_LOG_LEVEL=warn
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - nwdaf-network

networks:
  nwdaf-network:
    driver: bridge

volumes:
  grafana-storage: