services:
  zookeeper:
    container_name: zookeeper
    image: confluentinc/cp-zookeeper:7.7.1
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_LOG4J_ROOT_LOGLEVEL: 'ERROR'
    networks:
      - kafka-network

  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:7.7.1
    ports:
      - "9092:9092"  # External access
      - "19092:19092"  # Internal access within the Docker network
    depends_on:
      - zookeeper
    environment:
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:19092,EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_BROKER_ID: 1
      KAFKA_LOG4J_ROOT_LOGLEVEL: 'ERROR'
      KAFKA_LOG4J_LOGGERS: 'kafka=ERROR,kafka.controller=ERROR,kafka.log.LogCleaner=ERROR,state.change.logger=ERROR,kafka.producer.async.DefaultEventHandler=ERROR'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - kafka-network

  kafka-init:
    container_name: kafka-init
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=python:3.11-slim-bullseye
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
        - SERVICE_DIR=kafka-init
        - SCRIPT_NAME=create_topics.py
    environment:
      LOG_LEVEL: 'INFO'
    depends_on:
      - kafka
    networks:
      - kafka-network

  dummy-client:
    container_name: dummy-client
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=python:3.11-slim-bullseye
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
        - SERVICE_DIR=dummy-client
        - SCRIPT_NAME=dummy-client.py
    environment:
      LOG_LEVEL: 'INFO'
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    ports:
      - "8181:8181"
    restart: on-failure
    networks:
      - kafka-network

  #  smf:
  #    container_name: smf
  #    build:
  #      context: .
  #      network: host
  #      args:
  #        - BASE_IMAGE=python:3.11-slim-bullseye
  #        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
  #        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
  #        - SERVICE_DIR=nf-stubs/smf
  #        - SCRIPT_NAME=smf.py
  #    environment:
  #      LOG_LEVEL: 'INFO'
  #    depends_on:
  #      kafka-init:
  #        condition: service_completed_successfully
  #    ports:
  #      - "10001:10001"
  #    restart: on-failure
  #    networks:
  #      - kafka-network

  api-gateway:
    container_name: api-gateway
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=tensorflow/tensorflow:2.17.0
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
        - SERVICE_DIR=api-gateway
        - SCRIPT_NAME=main.py
    environment:
      LOG_LEVEL: 'INFO'
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    ports:
      - "5000:5000"
    restart: on-failure
    networks:
      - kafka-network

  #  basic-anlf:
  #    container_name: basic-anlf
  #    build:
  #      context: .
  #      network: host
  #      args:
  #        - BASE_IMAGE=python:3.11-slim-bullseye
  #        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
  #        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
  #        - SERVICE_DIR=anlf
  #        - SCRIPT_NAME=main.py
  #    environment:
  #      LOG_LEVEL: 'INFO'
  #    depends_on:
  #      kafka-init:
  #        condition: service_completed_successfully
  #    restart: on-failure
  #    networks:
  #      - kafka-network

  throughput-anlf:
    container_name: throughput-anlf
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=tensorflow/tensorflow:2.17.0
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
        - SERVICE_DIR=throughput-anlf
        - SCRIPT_NAME=main.py
    environment:
      LOG_LEVEL: 'INFO'
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    restart: on-failure
    networks:
      - kafka-network

  gmlc:
    container_name: gmlc
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=python:3.11-slim-bullseye
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
        - SERVICE_DIR=nf-stubs/gmlc
        - SCRIPT_NAME=gmlc.py
    environment:
      LOG_LEVEL: 'INFO'
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    ports:
      - "10006:10006"
    restart: on-failure
    networks:
      - kafka-network

  ran:
    container_name: ran
    build:
      context: .
      network: host
      args:
        - BASE_IMAGE=python:3.11-slim-bullseye
        - GITLAB_TOKEN_NAME=${GITLAB_TOKEN_NAME}
        - GITLAB_TOKEN_VALUE=${GITLAB_TOKEN_VALUE}
        - SERVICE_DIR=nf-stubs/ran
        - SCRIPT_NAME=ran.py
    environment:
      LOG_LEVEL: 'INFO'
    depends_on:
      kafka-init:
        condition: service_completed_successfully
    ports:
      - "10007:10007"
    restart: on-failure
    networks:
      - kafka-network

networks:
  kafka-network:
    driver: bridge